<div class="text-center">
  <button onclick="document.body.style.backgroundColor='#2196F3';" type="button" class="btn btn-primary">Primary</button>
  <button onclick="document.body.style.backgroundColor='#9E9E9E';" type="button" class="btn btn-secondary">Secondary</button>
  <button onclick="document.body.style.backgroundColor='#4CAF50';" type="button" class="btn btn-success">Success</button>
  <button onclick="document.body.style.backgroundColor='#FF5252';" type="button" class="btn btn-danger">Danger</button>
  <button onclick="document.body.style.backgroundColor='#FFEB3B';" type="button" class="btn btn-warning">Warning</button>
  <button onclick="document.body.style.backgroundColor='#00BCD4';" type="button" class="btn btn-info">Info</button>
  <button onclick="document.body.style.backgroundColor='#FFFFFF';" type="button" class="btn btn-light">Light</button>
  <button onclick="document.body.style.backgroundColor='gray';" type="button" class="btn btn-dark">Dark</button>
</div>